<div class="ui segment">
  <LinkTo @route="developers.new" class="ui orange button">
    <i class="icon plus"></i>
    Ajouter un nouveau models/Developer…
  </LinkTo>
  {{outlet}}
  <table class="ui selectable single line table">
    <thead>
      <tr>
        <th>Identité</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |developer|}}
        <tr>
          <td>{{developer.identity}}</td>
          <td class="right aligned">
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="2" class="center aligned">Aucun développeur</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

